<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://" 
      value="{{ student.avatar_url }}"
      class="type1"
    >
  </div>
</div>

<div class="item">

  <div>Aluno</div>
  <div>
    <input 
      type="text" 
      name="name" 
      value="{{ student.name }}"
      class="type1"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input
     type="date" 
     name="birth" 
     class="type1"
     value="{{ student.birth }}"
    >
  </div>
</div>

<div class="item">

  <div>Email</div>
  <div>
    <input 
      type="email" 
      name="email" 
      value="{{ student.email }}"
      class="type1"
    >
  </div>
</div>


<div class="item">
  <div>Ano Escolar</div>
  <select name="grade">

    <option
     value="5EF"
     {% if student.grade == "5EF" %}
      selected
     {% endif %}
    >
      5° ano 
    </option>

    <option 
      value="6EF"
      {% if student.grade == "6EF" %}
      selected
     {% endif %}
    >
      6° ano
    </option>

    <option 
      value="7EF"
      {% if student.grade == "7EF" %}
      selected
     {% endif %}
    >
      7° ano
    </option>

    <option 
      value="8EF"
      {% if student.grade == "8EF" %}
      selected
     {% endif %}
    >
      8° ano
    </option>

    <option 
      value="9EF"
      {% if student.grade == "9EF" %}
      selected
     {% endif %}
    >
      9° ano
    </option>

  </select>
</div>

<div class="item">

  <div>Carga Horária</div>
  <div>
    <input 
      type="number" 
      placeholder = "Entrar com número de horas"
      name="schoolHours" 
      value="{{ student.schoolHours }}"
      class="type1"
    >
  </div>

  <div class="item">
  <div>Instrutor</div>
  <select name="teacher">
    {% for teacher in teacherOptions %}
      <option
        value="{{ teacher.id }}"
        {% if student.teacher_id == teacher.id %}
          selected
        {% endif %}
      >
        {{ teacher.name }}
      </option>
    {% endfor %}
  </select>
</div>

</div>

<button type="submit">Salvar</button>