{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/instructors">
  <section 
    class="avatar"
    style="background: url({{ student.avatar_url }}) no-repeat center center/ cover"
  ></section>
  <section class="details">

    <h3>Detalhes</h3>

    <div class="item">
      <div>Aluno</div>
      <div>{{ student.name }}</div>
    </div>

    <div class="item">
      <div>Aniversário</div>
      <div>{{ student.birth }}</div>
    </div>

     <div class="item">
      <div>Email</div>
      <div>{{ student.email }}</div>
    </div>

    <div class="item">
      <div>Ano Escolar</div>   
      <div>{{ student.grade }}</div>
    </div>

    <div class="item">
      <div>Carga Horária</div>
      <div>{{ student.schoolHours}} horas</div>
    </div>

    <div class="item">
      <div>Aluno de</div>
      <div>{{ student.teacher_name }} </div>
    </div>

    <a href="/students/{{student.id}}/edit" class="button">Editar</a>
  </section>
</form>
{% endblock content %}
