<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" placeholder="http://" class="type1">
  </div>
</div>

<div class="item">

  <div>Professor</div>
  <div>
    <input type="text" name="name" placeholder="Nome do Professor" class="type1">
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input type="date" name="birth" class="type1">
  </div>
</div>

<div class="item">
  <div>Grau de Escolaridade</div>
  <select name="select">
    <option value="M">Ensino Médio</option>
    <option value="S">Ensino Superior</option>
    <option value="D">Mestrado e Doutorado</option>
  </select>
</div>

<div class="item">
  <div>Área de Atuação</div>
  <div>
    <input class="type1 small" type="text" name="services" placeholder="Separe os serviços prestados por virgula.">
  </div>
</div>
<button type="submit">Salvar</button>