{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar"></section>
    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Professor</div>
        <div>Antonio Justino</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>65</div>
      </div>

      <div class="item">
        <div>Escolaridade</div>
        <div>Mestrado e Doutorado</div>
      </div>

      <div class="item">
        <div>Tipo de Aula</div>
        <div>À distância</div>
      </div>

      <div class="item">
        <div>Matérias</div>
        <span>Matemática</span>
        <span>Física</span>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>1977</div>
      </div>

    </section>
  </div>
{% endblock content %}